# Banco de dados MySQL
ConnectionStrings__DefaultConnection=Server=SEU_HOST;Port=3306;Database=railway;User=root;Password=SUA_SENHA;SslMode=Preferred;AllowPublicKeyRetrieval=True;Connection Timeout=30;

# JWT
Jwt__Issuer=TASKPI
Jwt__Audience=Sprint3Client
Jwt__SecretKey=troque-por-uma-chave-grande-com-pelo-menos-32-caracteres

# Envio de email por SMTP
Email__Smtp__Host=smtp.gmail.com
Email__Smtp__Port=587
Email__Smtp__EnableSsl=true
Email__Smtp__Username=seuemail@gmail.com
Email__Smtp__Password=sua-senha-de-app-do-gmail
Email__Smtp__From=seuemail@gmail.com
Email__Smtp__FromName=TASKPI
